{% extends 'base.html' %}

{% block content %}

{% for order in req_order %}

<div class="cxs-container">
  <div class="row">
    <span><button class="cxs-btn-stat cxs-btn-alert-overview" onclick="window.location.href='{% url 'request:overview' %}';"> Back to Overview </button>
      <h4>Approval of Purchase Order No: {{order.order_id}} </h4></span>
  </div>
  <div class="col-flex">
      <div class="col-6">
        <h5>{{order.distributor}}</h5>
        <h6>{{order.distributor.address}}</h6>
        <span>Document created: {{order.date_created}}</span>
{% endfor %}
      </div>
      <div class="col-6">
        <div class="row-corrected">
          <label for=""><span style="font-weight: bold;">This document will be sent to the email addresses below:</label><br>
          <textarea name="" id="" class="email cxs-whole-input" placeholder="You may add multiple email address by separating each email addresses with comma." disabled></textarea>
        </div>
      </div>
  </div>
  <div class="row">
    {% if items %}
    <table class="content-table">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Code</th>
          <th>Item</th>
          <th>Qty</th>
          <th>Package</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th>Added</th>
        </tr>
      </thead>
      <tbody>
        {% for x in items %}
        {% load humanize %}
        <tr>
          <td>{{x.item.brand}}</td>
          <td>{{x.item.code}}</td>
          <td>{{x.item}}</td>
          <td>{{x.qty}}</td>
          <td>{{x.package}}</td>
          <td>₱ {{x.cost|intcomma}}</td>
          <td>₱ {{x.subtotal|intcomma}}</td>
          <td>{{x.date_created|naturaltime}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <span>No records yet.</span><br><br>
    {% endif %}
  </div>
  <div class="col-flex">
      <div class="col-4">
        <div class="row-corrected" style="padding: 0; margin: 0;">
          {% for z in req_order %}
          {% load humanize %}
          <label for=""><span style="font-weight: bold;">Summary:</span></label>
          <p> This document has been submitted for approval by {{z.created.first_name}} {{z.created.last_name}} last {{z.update|naturaltime}}. This document now needs your attention to proceed.</p>
          {% endfor %}
        </div>
      </div>
      <div class="col-4">
        {% if items %}
        <div class="row-corrected">
          <label for=""><span style="font-weight: bold;">Remarks:</span></label><br>
          <textarea name="" id="" class="comment cxs-whole-input" placeholder="Type your comments here. The comments will be printed along with the document." disabled></textarea>
        </div>
        {% else %}
        {% endif %}
      </div>
      <div class="col-4">
        {% if items %}
          <div class="row">
            {% for order in req_order %}
            <table class="content-table">
              <tbody>
                <tr>
                  <td>Amount:</td>
                  <td>₱ {{amount|intcomma}}</td>
                </tr>
                <tr>
                  {% for percent in req_order %}
                  <td>Discount @ <span id="percent"></span> :</td>
                  <td class="discount">- ₱ {{discount_amount|intcomma}} </td>
                            <!-- Percentage of order.discount  -->
                            <script>
                              function convertToPercentage(decimal) {
                                var percentage = decimal * 100;
                                return percentage.toFixed(2) + "%"; // Round to 2 decimal places
                              }
                            
                              var decimalNumber = "{{percent.discount}}"; // Replace with your decimal number
                              var percentage = convertToPercentage(decimalNumber);
                              
                              document.getElementById("percent").innerHTML = percentage;
                            </script>
                              <!-- endof Percentage of order.discount  -->
                    {% endfor %}
                </tr>
                <tr class="total">
                  <td>Total Amount:</td>
                  <td>₱ {{total_amount|intcomma}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row-flex">
            <div class="col-6">
              <form method="POST" action="{% url 'request:toggle_edit' order.id %}">
                {% csrf_token %}
                <div>
                  <button class="cxs-btn-stat cxs-btn-alert-pending cxs-btn-big cxs-btn-half-left">Back to Edit</button>
                </div>
              </form>
            </div>
            <div class="col-6">
              <form method="POST" action="{% url 'request:submit' order.id %}">
                {% csrf_token %}
                <div>
                  <input type="text" value="Documented" name="status" hidden>
                  <button class="cxs-btn-stat cxs-btn-alert-approve cxs-btn-big cxs-btn-half-right">Approve and Send</button>
                </div>
              </form>
            </div>
          </div>
          {% endfor %}
          {% else %}
          {% endif %}
      </div>
  </div>
</div>


{% endblock %}