body {
  background-color: #eee;
  font-family: 'Quicksand', sans-serif;
}

.main {
  margin-top: 50px;
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 12px; /* Increased text to enable scrolling */
  transition: margin-left 0.6s ease-in-out;
}

.main.closed {
  margin-left: 0;
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr {
  border-top: 1px solid #818181;
}

tr[data-href] {
  cursor: pointer;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

p.footer-font {
  font-size: 9px;
  margin-top: -15px;
}

/* Content table in which the labels are on left */
.content-table-left {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-left td:nth-of-type(odd) {
  background: #007FFF;
  min-width: 100px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color:#fff;
}

.content-table-left tr:nth-of-type(even) td:nth-of-type(even) {
  background: #f3f3f3;
  border: 1px solid #dddddd;
  min-width: 400px;
  padding: 10px;
  font-weight: bold;
}

.content-table-left tr:nth-of-type(odd) td:nth-of-type(even) {
  background: #fff;
  border: 1px solid #dddddd;
  min-width: 400px;
  padding: 10px;
  font-weight: bold;
}

.content-table-left tbody tr:last-of-type {
  border-bottom: 2px solid #007FFF;
}

/* Content table in which the labels are on the top  */
.content-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #007FFF;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 10px 13px;
}

.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr:hover {
  background-color: #0080ffa1;
  color: #fff;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(even):hover {
  background-color: #0080ffa1;
  color: #fff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #007FFF;
}

h5 {
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/*  */

.content-table-nohead {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-nohead th,
.content-table-nohead td {
  padding: 10px 13px;
}

.content-table-nohead tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table-nohead tbody tr:nth-of-type(odd) {
  background-color: #0080ffd8;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

.content-table-nohead tbody tr:last-of-type {
  border-bottom: 2px solid #007FFF;
}

.input-group {
  border: 0px;
}

input[type=text].search {
  border: 1px solid #0080ffd8;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  padding: 7px 12px;
  width: 43%;
}

.btn-search {
  background-color: #0080ffd8;
  border: 1px solid #0080ffd8;
  border-radius: 0px 8px 8px 0px;
  font-size: 13px;
  font-weight: bold;
}

.btn-search:hover {
  background-color: #006fdd;
}

.input-group.z-index {
  z-index: 0;
}

.page-link {
  background-color: #0080ffd8;
  color: #fff;
  font-size: 1em;
  font-weight: bold;

}

.container {
  width: 100vw;
}

button.inactive {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}


button.inactive:hover {
  color:red;
}

/* CXS CSS Customized Template  */

.cxs-btn-stat {
  border-radius: 8px;
  border: none;
  background-color: #ffffff00;
}

.cxs-btn-alert-overview {
  background-color: #3b3b3bd8;
  color: #fff;
}

.cxs-btn-alert-edit {
  background-color: #0080ffd8;
  color: #fff;
}

.cxs-btn-alert-edit:hover {
  background-color: #0063c5d8;
  font-weight: bold;
}

.cxs-btn-alert-approve {
  background-color: #3ba000d8;
  color: #fff;
}

.cxs-btn-alert-approve:hover {
  background-color: #2c7700d8;
  font-weight: bold;
}

.cxs-btn-alert-warning {
  background-color: #b30000d8;
  color: #fff;
}

.cxs-btn-alert-warning:hover {
  background-color: #2c7700d8;
  font-weight: bold;
}

.cxs-btn-alert-pending {
  background-color: #df9100d8;
  color: #fff;
}

.cxs-btn-alert-pending:hover {
  background-color: #c27e00d8;
  font-weight: bold;
}

.cxs-btn-big {
  padding: 10px;
  width: 100%;
}

.cxs-btn-half-left {
  border-radius: 8px 0px 0px 8px;
}

.cxs-btn-half-right {
  border-radius: 0px 8px 8px 0px;
}

section.main {
  padding: 0;
  margin: 0;
}

.col-flex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px){
  .col-flex {
    flex-direction: column;
  }
}

.col-flex > * {
  flex-basis: auto;
}


.cxs-container {
  margin-left: 10%; 
  margin-right: 10%;
  padding-top: 20px;
}

h3 {
  font-size: bolder;
}

tr.total {
  font-weight: bolder;
}

td.discount {
  color: red;
}

/* .row {
  border: 1px solid blue;
} */

div.row-corrected {
  padding-left: 25px;
  padding-right: 25px;
}

textarea.email {
  width: 480px;
  height: 50px;
  padding: 5px 8px;
}

textarea.comment {
  width: 280px;
  height: 95px;
  padding: 5px 8px;
}

@media (max-width: 1400px){
  textarea.email {
    width: 300px;
    height: 60px;
  }
  textarea.comment {
    width: 150px;
    height: 100px;
}}

.input-adjust {
  margin-left: -12px;
  padding-left: 12px;
  width: 100%;
}


.cxs-btn-lg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

@media (max-width: 1300px){
  .cxs-btn-lg {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}}

@media (max-width: 1100px){
  .cxs-btn-lg {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cxs-input {
  padding-top: 3px;
  padding-bottom: 3px;
}

.cxs-whole-input {
  border: 1px solid #0063c5d8;
  border-radius: 8px 8px;
}

.row-flex {
  display: flex;
}