{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row mt-4">
      <div class="col-xl-12">
        <div class="main">
            <h5>User Settings</h5>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ stacked_inline_form.as_p }}
                    <button class="btn btn-secondary">Update</button>
                </form>
            </div>
        </div>
      </div>
  </div>
</div>


{% endblock %}